.background-code {
  position: absolute;
  z-index: -10;
}
.background-code code {
  font-size: xx-large;
  margin: auto;
  z-index: -10;
}

.hljs {
  background: none !important;
}

/*Variables*/
/**
*
* Testing
*
**/
@media (max-width: 320px) {
  .include-media-test {
    background-color: #def;
  }
  .include-media-test:before {
    content: "<=phone";
  }
}
@media (min-width: 321px) {
  .include-media-test {
    background-color: #abc;
  }
  .include-media-test:before {
    content: ">phone";
  }
}
@media (min-width: 815px) and (max-width: 1023px) {
  .include-media-test {
    background-color: #fed;
  }
  .include-media-test:before {
    content: ">=815px, <desktop";
  }
}
@media (min-width: 1024px) {
  .include-media-test {
    background-color: #fab;
  }
  .include-media-test:before {
    content: ">=desktop";
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .include-media-test:after {
    content: "Retina" !important;
  }
}

.parallax {
  perspective-origin-x: 100%;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: RGBA(20, 20, 20, 1);
}

.parallax-layer {
  position: absolute;
  transform-origin-x: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-back {
  transform: translateZ(-2px) scale(2.5);
}

h1, h2, h3, h4, h5, h6, p {
  text-shadow: 1px 1px 20px #D2D2D2;
}

#top-btn {
  display: inline-block;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 40px;
  /* Place the button at the bottom of the page */
  right: 30px;
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: black;
  /* Set a background color */
  opacity: 80%;
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  transition: all 1s ease 0s;
  width: 50px;
  height: 35px;
}

.hide-top-btn {
  right: -60px !important;
  /* Place the button 30px from the right */
}

.main-area {
  background-color: RGBA(150, 150, 150, 0.4);
  width: 100%;
  top: 0;
  height: fit-content;
}
.main-area .background-images {
  height: 80px;
}
.main-area .profile-image-area {
  margin-bottom: 15px;
}
.main-area .profile-image-area img {
  box-shadow: 8px 8px 20px 4px rgba(0, 0, 0, 0.6) !important;
}
.main-area .hide-nav {
  top: -100px;
}
.main-area nav {
  transition: all 1s ease 0s;
  margin-bottom: 20px;
}
.main-area nav ul {
  display: flex;
  align-content: center;
  justify-content: center;
}
.main-area nav ul li {
  box-shadow: 8px 8px 20px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 50px;
  height: fit-content;
  background: darkslateblue;
  opacity: 0.9;
}
.main-area nav ul li:not(:last-child) {
  margin-right: 15px;
}
.main-area nav ul li a {
  font-size: 28px;
  text-decoration: none;
  color: orangered;
}
.main-area nav ul li a:hover, .main-area nav ul li a:focus {
  color: #ff8f66;
}
.main-area .top-area {
  padding-top: 50px;
}
.main-area section {
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  overflow: hidden;
  position: relative;
}
.main-area section:not(.top-area) {
  border-top: 5px #251e2b solid;
  padding-top: 25px;
  padding-bottom: 25px;
}
.main-area section::after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
  background-position: 50% 0;
}
.main-area section h1 {
  color: #251e2b;
  width: 300px;
  margin: auto;
  background-color: #cbc1d4;
  padding: 15px;
  border-radius: 50px;
  text-align: center;
}
.background-images::before {
  height: 722px;
  color: white;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  position: absolute;
  content: " ";
  background-image: url("/img/header-2-background.jpg");
}
.background-images::after {
  height: 722px;
  color: white;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  position: absolute;
  content: " ";
  background-image: url("/img/header-background.jpg");
}

#about-me::after {
  background-image: url("/img/about-me-background.jpg");
  transform: translateZ(-1px) scale(2);
}
#about-me .about-me-area {
  height: 1000px;
}

#my-skills::after {
  background-image: url("/img/roses-background.jpg");
  top: -250px;
}
#my-skills .my-skills-area {
  height: 1000px;
}
#my-skills .my-skills-area .categories {
  margin-top: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#my-skills .my-skills-area .categories .skill-category {
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.6);
  border: cadetblue dotted 1.8px;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
  background: #0d1117;
  padding: 10px;
}
#my-skills .my-skills-area .categories .skill-category:not(:last-child) {
  margin-right: 5px;
}
#my-skills .my-skills-area .skills {
  width: 80%;
  margin: auto;
  transition: transform 1s;
}
#my-skills .my-skills-area .skills .skill {
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
  height: 200px;
  border: black solid 5px;
  border-radius: 15px;
  display: inline-block;
}
#my-skills .my-skills-area .skills .skill .poster {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  color: black;
}
#my-skills .my-skills-area .skills .skill .poster:hover {
  transform: rotateY(180deg);
}
#my-skills .my-skills-area .skills .skill .poster .skill-level div {
  width: 15px;
  height: 15px;
  border-radius: 50px;
}
#my-skills .my-skills-area .skills .skill .poster .skill-level div:not(:last-child) {
  margin-right: 5px;
}
#my-skills .my-skills-area .skills .skill .poster .skill-level div.active {
  background: green;
}
#my-skills .my-skills-area .skills .skill .poster .skill-level div:not(.active) {
  background: grey;
}
#my-skills .my-skills-area .skills .skill .poster .back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
#my-skills .my-skills-area .skills .skill .poster .front-side {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}
#my-skills .my-skills-area .skills .skill .poster .front-side p {
  color: black;
}
#my-skills .my-skills-area .skills .skill .poster .front-side i, #my-skills .my-skills-area .skills .skill .poster .front-side svg, #my-skills .my-skills-area .skills .skill .poster .front-side img {
  width: 80%;
  height: 60%;
}

#experiences .experiences-area {
  height: 1000px;
}
#experiences .experiences-area .experience-area {
  margin-top: 75px;
}
#experiences .experiences-area .experience-area h2 {
  margin-bottom: 45px;
}
#experiences .experiences-area .experience-area .experience .careers div:not(.experience-links) {
  background-color: RGBA(200, 200, 200, 0.9);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  #experiences .experiences-area .experience-area .experience .careers div:not(.experience-links):first-child {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  #experiences .experiences-area .experience-area .experience .careers {
    border-bottom: 3px solid black;
    width: 100%;
  }
}

#current-projects .current-projects-area {
  height: 1000px;
}

#references .references-area {
  height: 1000px;
}

#my-goals .my-goals-area {
  height: 1000px;
}

.is-animated {
  animation: 0.6s zoom-in;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: none;
  }
}

/*# sourceMappingURL=compiled.css.map */
